# 本配置文件使用 YAML 格式定义
parser:
  espree

env:
  browser: true
  es6: true

globals:
  angular: true

ecmaFeatures:
  modules: true

plugins:
  - smells

rules:
  # 一律使用单引号，除非字符串的值中有单引号
  quotes: [1, single, avoid-escape]

  # 不使用严格模式（考虑到可能有第三方库不支持严格模式，所以不能用全局严格模式，而函数级的又太麻烦）
  strict: [1, never]

  # 采用 2 个空格缩进
  indent: [1, 2]

  # 函数定义的 () 前不应有空格（示例：function() {}、function foo() {}）
  space-before-function-paren: [1, never]

  # 代码块的花括号 { 前面应当有个空格
  space-before-blocks: [1, always]

  # 花括号 { 一律在行末，除非表达式只有一行
  brace-style: [1, 1tbs, { allowSingleLine: true }]

  # 代码块首尾不应有空行
  padded-blocks: [1, never]

  # else 语句中如果有且仅有一个 if 判断（形如 else { if () {} } ），则应当用 else if 代替
  no-lonely-if: 1

  # 定义 object literal 时，属性名如非必要，不应加引号
  quote-props: [1, as-needed]

  # 除函数以外，所有变量在使用前都应被定义
  no-use-before-define: [1, nofunc]

  # 不要使用 console 中的方法
  no-console: 1

  # ( 右侧和 ) 左侧不应有空格
  space-in-parens: [1, never]

  # 类似于上一条，针对方括号
  space-in-brackets: [1, never]

  # 逗号只能出现在行中或行末，不能出现在行首
  comma-style: [1, last]

  # 单行注释的 // 后面应当有个空格
  spaced-line-comment: [1, always]

  # 变量不能自己和自己进行比较
  no-self-compare: 1

  # 只能把 var 定义的变量当做块级变量来用，避免因为 variable hoisting 带来的难以察觉的 bug
  # 这里暂时不启用，因为 Angular factory 之类的函数的 $inject 成员放在定义前面一行看起来更方便也更容易维护
  # block-scoped-var: 1

  # IIFE 调用必须用括弧 () 包裹（例：var x = (function () { return { y: 1 };})();）
  wrap-iife: [2, inside]

  # 考虑到有很多人喜欢类似于 a && b() 这样的简写，所以设置为 warning 而不是 error
  no-unused-expressions: 1

  # 以下划线开头的变量命名个人感觉并无不妥
  no-underscore-dangle: 0

  # 有时候为了和后端一致（比如 OAuth2），非 camelCase 的变量命名也可以接受
  # angular 中 controller 和 部分 factory（因个人喜好）函数用 UpperCamelCase 其他均用 lowerCamelCase
  # import 模板文件时也用 UpperCamelCase（为了使 .route.js 文件的格式看起来舒服点）
  camelcase: 1

  # Hybrid App 中还是用得到系统的 alert 的
  no-alert: 0

  # 控制代码复杂度 http://elijahmanor.github.io/talks/js-smells/

  # 单个函数最多有 16 行（内部的其他函数定义不算）
  max-statements: [1, 16]

  # 至多嵌套五层代码块
  max-depth: [1, 5]

  # [cyclomatic complexity](http://en.wikipedia.org/wiki/Cyclomatic_complexity) 上限为 7
  complexity: [1, 7]

  # 每行最多 110 个字符，比 80 个字符多一点，毕竟可能会有很多缩进，而且反正显示器够大
  max-len: [1, 110]

  # 上限设置到 10 是因为 Angular 依赖注入可能会有很多
  max-params: [1, 10]

  # 最多允许嵌套两层回调
  max-nested-callbacks: [1, 2]

  # 对于对象的成员函数，要求使用简写
  object-shorthand: [1, methods]

  # 如果表达式太长需要换行，操作符应该在下一行的开头
  operator-linebreak: [1, before]

  # 衍生类必须有 super() 调用，非衍生类不准调用 super()
  constructor-super: 2

  # 允许使用 switch 语句
  smells/no-switch: 0

  # 但禁止 case 条件后面跟着超过一行语句（大部分情况下这种情况都能被重构成其他更易读的写法）
  smells/no-complex-switch-case: 1

  # 禁止 setInterval（对时间要求精确的动画除外）（为了防止 timer 未清除之类的乱七八糟的错误）
  smells/no-setinterval: 1

  # 都用 ES6 了还写什么 var self = this; 何况 bind 也挺好用的（需要支持 IE8- 且没有 polyfill 时例外）
  smells/no-this-assign: 1

  # 禁止复杂的字符串拼接，用模板引擎或 ES6 template string 替代
  smells/no-complex-string-concat: 1

  # 禁止连续反复操作同一个变量，用 forEach、reduce、_.flow 都可以解决
  # 尚未支持
  # smells/no-reassign: 1

  # 其他有默认值的 ESLint 规则就不重复定义了
