<ion-view view-title="话题">
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons>
      <cc98-back-button></cc98-back-button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-refresher
      pulling-text="下拉刷新"
      spinner="ios-small"
      on-refresh="ctrl.refreshPage()">
    </ion-refresher>

    <ion-list class="item-text-wrap topic-detail">
      <p class="posts-from">
        话题来自：{{ctrl.boardName}}
      </p>

      <ion-item class="post-header" ng-repeat-start="post in ctrl.posts">
        <h2>{{post.title}}</h2>
      </ion-item>
      <ion-item class="post-meta item item-avatar">
        <img ng-src="{{post.userAvatar || '/images/placeholder.png'}}">
        <p class="post-floor pull-right">{{post.floor === 1 ? '楼主' : ('#' + post.floor)}}</p>
        <h3>{{post.userName || '匿名'}}</h3>
        <p class="post-time">{{post.time | fromNow}}</p>
      </ion-item>
      <ion-item ng-repeat-end class="post-content">
        <div bind-html-compile="post.content | ubb"></div>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer-bar class="item-input-inset" style="border-top: 1px solid #eee">
    <label class="item-input-wrapper" ui-sref="comment({topicId: ctrl.topicId})">
      <i class="icon ion-ios-chatbubble"></i>
      <input type="text" placeholder="添加评论">
    </label>
    <div class="buttons pagination-buttons">
      <button
        class="button button-light button-small positive"
        ng-disabled="ctrl.page === 1"
        ng-click="ctrl.prevPage()">
        &lsaquo;
      </button>

      <button class="button button-light button-small positive">{{ctrl.page}}</button>

      <button
        class="button button-light button-small positive"
        ng-disabled="!ctrl.postsCount || ctrl.page * 10 >= ctrl.postsCount"
        ng-click="ctrl.nextPage()">
        下一页 &rsaquo;
      </button>
    </div>
  </ion-footer-bar>
</ion-view>
