// 帖子详情
.topic-detail {
  .posts-from {
    @extend .item;
    @extend .positive;

    padding-top: 6px;
    padding-bottom: 6px;
    min-height: 24px;
    border: none;

    font-size: 12px;
    font-weight: 200;
    background-color: #f8f8f8;
  }

  .post-header {
    border-bottom: none;
    padding-bottom: 0;
  }

  .post-header + .post-meta {
    border-top: none;
  }

  .post-meta {
    border-bottom: none;

    .post-time {
      font-size: 12px;
    }
  }

  .post-content {
    border-top: none;
    padding-top: 5px;
  }
}

.pagination-buttons {
  margin-left: 20px;
}

.pagination-buttons button {
  height: 26px !important;
  line-height: 26px !important;
  min-width: 30px !important;
  margin-left: 2px;
  vertical-align: middle;
}
