// 帖子详情
.topic-detail {
  .posts-from {
    @extend .item;
    @extend .positive;

    padding-top: 6px;
    padding-bottom: 6px;
    min-height: 24px;
    border: none;

    font-size: 12px;
    font-weight: 200;
    background-color: #f8f8f8;
  }

  .post-meta {
    border-bottom: none;

    .post-time {
      font-size: 12px;
    }
  }

  .post-content {
    border-top: none;
    padding-top: 5px;
  }
}
